<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Caption Craft</title>
</head>

<body>

    <section class ="hero">

        <div class="heading">
            <h1>CAPTION CRAFT </h1>
        </div>

        <div class="container">
            <div class="hero-content"> 
                <h2>Welcome to our Website</h2> 
                <p>An image caption is a descriptive text that provides information about the content of an image.
                   It aims to convey important details, context, and emotions present in the image to those who cannot see it directly,
                   such as visually impaired individuals or for improving the overall understanding of the image.</p>  
                 <input type="button" value="Start" id="startButton">

                 <script>
                     document.getElementById("startButton").addEventListener("click", function () {
                         window.location.href = "http://127.0.0.1:5000/";
                     });
                 </script>             
            </div> 

            <div class="hero-image">
                <img src="./image.jpg">
            </div>

            </div>
        </div>
              
    </section>

<h5>© 2023 Caption Craft Team. All rights reserved. </h5>
</body>
  
</html>
